[Unit]
Description=Clevis Unlock
DefaultDependencies=no
Before=cryptsetup-pre.target remote-fs-pre.target
After=network-online.target
Wants=cryptsetup-pre.target remote-fs-pre.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=false
User=root
Group=root
ExecStart=/usr/sbin/clevis-unlock
StandardOutput=journal

[Install]
WantedBy=multi-user.target
RequiredBy=cryptsetup-pre.target
